#logo {
	width: 20px;
	height: 20px;
	border-left: none;
	margin-top: -4px;
}
a {
	color: #637bad;
}
h1, h2 {
	margin: 20px 0;
}
li { 
  list-style: none;
}

#searchTitles {
	opacity: 0.7;
}
@media (min-width: 768px){
	#searchTitles {
		width: 500px;
	}
}

/* .col-4, .col-8 { border: 1px solid red; } */

#bookInteraction {
	clear: both;
}
#bookDesc li {
  list-style: circle;
}
#actions { 
	padding: 0px; 
}

header {
  /* https://bobbelderbos.com/2012/03/how-to-make-a-fixed-sidebar-or-header-with-css/ */
  position: fixed;
  top: 0; left: 0;
  z-index: 20;
  width: 100%;
}
.glass_btn {
  background: #627aac url("../img/glass-btn.png") repeat-x 0 50% !important;
}
main {
	padding: 10px;
  z-index: 10;
  position: relative;
  top: 50px;
}

/* autocomplete */
.searchResWrapper {
  float: left; 
	clear: both; 
	padding-left: 0px; 
	margin-left: 0px; 
}
.miniAvatar {
	padding: 0px; 
	margin-right: 5px; 
	width: 30px;
}
.searchRes {
  float: right; 
	font-size: 90%; 
}

#actionWrapper {
  margin-top: 10px;
}

#bookInfo ul {
  padding: 0px;
}
.thumbNail {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

