#logo {
	width: 20px;
	height: 20px;
	border-left: none;
	margin-top: -4px;
}
a {
	color: #637bad;
}
h1, h2 {
	margin: 20px 0;
}
li { 
  list-style: none;
	padding-bottom: 5px;
}
#bookThumb {
	margin-right: 20px;
	float: left; 
}
#social {
	border: 1px solid red;
	clear: both;
}
#bookDesc li {
  list-style: circle;
}
#actions { 
	padding: 0px; 
}
#navbar li, #actions, #actions li {
  display: inline;
}
header {
	height: 30px;
  background: #627aac url("../img/glass-btn.png") repeat-x 0 50%; 
}
main {
	padding: 10px;
}
input#searchTitles {
	background: none;
	color: #fff;
	width: 100%;
	border: none;
}
#navbar {
	text-align: right; 
}
#navbar li, #actions li {
	padding: 0 5px;
	border-left: 1px solid #ddd;
}
#navbar li:first-child {
	border-left: none;
}
#navbar a {
	color: #ddd;
}
/* autocomplete */
.searchResWrapper {
  float: left; 
	clear: both; 
	padding-left: 0px; 
	margin-left: 0px; 
}
.miniAvatar {
	padding: 0px; 
	margin-right: 5px; 
	width: 30px;
}
.searchRes {
  float: right; 
	font-size: 90%; 
}

.defaultTextActive {
  color: #a1a1a1; font-style: italic; 
}
