{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="container-fluid" id="bookInfoWrapper">
    <div class="row">

      <h2 id="bookTitle"><a class="fboxComment" href="preview.php?id={{ book.id }}">{{ book.title }}</a></h2>
    </div>

    <div class="row">
      <div id="bookInfo" class="col-6">
        <a id="bookThumb" href="#"><img class="thumbNail" src="http://books.google.com/books?id={{ book.id }}&printsec=frontcover&img=1&zoom=5&source=gbs_gdata" alt="{{ book.title }}"></a>

        <ul id="meta">
          <li><strong>Author(s): </strong>{{ book.authors }}</li>
          <li><strong>Publisher: </strong>{{ book.publisher }}</li>
          <li><strong>Published: </strong>{{ book.release_date }}</li>
          <li><strong>ISBN: </strong>{{ book.isbn }}</li>
          <li><strong>Page Count: </strong>{{ book.pages }}</li>
          <li><strong>Language: </strong>{{ book.lang }}</li>
          <li>
            <strong>Actions: </strong>

            <ul id="actions">
              <li><a href='#'>like</a></li>
              <li><a href='#'>add</a></li>
              <li><a href="http://twitter.com/home?status=My Reading List: {{ book.title }} {{ request.get_full_path }} via%20@fbreadinglist" target="_blank">share</a></li>
            </ul>
          </li>

        </ul><!-- end meta -->

        {% if book.users %}
          <div id="social">
            <h3>Who reads this?</h3>
          </div>
        {% endif %}

      </div>

      <div id="bookDesc" class="col-6">
        <strong>Description: </strong><br> {{ book.description|safe }}
      </div>

	  </div>
  </div>
  </div>

{% endblock %}
